.DS_Store
.env
.env.*
*.log

node_modules/
.vite/
dist/
output/

database.sqlite
*.sqlite

coverage/
.turbo/
.vercel/

ios/App/build/
ios/App/App.xcarchive/
ios/App/*.xcarchive
ios/App/*.ipa
ios/App/*.app

